<div class="container">
  <div class="page header">
    <h2><%= @project.name %>: Manage Members</h2>
  </div>
  <p>
    <% if alert %>
    <div class="row">
      <div class="alert alert-danger col-sm-8 col-sm-offset-2">
          <div class="error-explanation">
            <h2><%= pluralize(alert.count, "error") %> prohibited this membership from being saved:</h2>

            <ul>
            <% alert.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      </div>
    </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success text-center" role="alert">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <br>
    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, @project %></li>
      <li class="active">Memberships</li>
    </ol>
  </p>
  <div class="row">
  <div class="well form-inline col-md-7">
    <%= form_for [@project, @membership] do |f| %>

      <div class="form-group">
        <%= f.collection_select :user_id, User.all, :id, :full_name, {include_blank: "Please select a user..."}, {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.select :role, ["member", "owner"], {include_blank: false}, {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.submit "Add New Member", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="projectshow">
  <% @memberships.each do |member| %>
    <% if member.user %>
      <div class="row form-inline member">
        <%= form_for [@project, member], url: project_membership_path(@project, member), method: :patch, html: { class: "edit_membership", id: "edit_membership" } do |f| %>
          <div class="col-md-2 form-group">
            <%= link_to member.user.full_name, member.user %>
          </div>
          <div class="col-md-1 form-group">
            <%= f.select :role, ["member", "owner"], {include_blank: false}, {class: "form-control"} %>
          </div>
          <div class="col-md-1 form-group">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
          <%= link_to '', project_membership_path(@project, member), method: :delete, class:"glyphicon glyphicon-remove", data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
      <br>
    <% end %>
  <% end %>
  </div>


</div>
