<%= render partial: 'shared/errors', locals: {feature: @task} %>
<%= form_for(@task, html: {class: "form-horizantal"}) do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :description, class: "col-sm-offset-1 col-sm-1 control-label" %>
      <div class="col-sm-7">
      <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <%= f.label :due_date, class: "col-sm-offset-1 col-sm-1 control-label" %>
      <div class="col-sm-7">
      <%= f.date_field :due_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <% if @task.persisted? %>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12">
          <div class="checkbox">
            <label>
              <%= f.check_box :complete %>Complete
            </label>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <div class="row">
  <div class="form-group col-sm-12 col-sm-offset-2">
    <%= f.submit class: "btn btn-primary"%>
    <%= link_to 'Cancel', tasks_path, class: "btn btn-default" %>
  </div>
  </div>


<% end %>
