<%= form_for(@task, html: {class: "form-horizantal"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group">
      <%= f.label :description, class: "col-sm-1 control-label" %>
      <div class="col-sm-7">
      <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group col-sm-12 col-sm-offset-1">
    <%= f.submit class: "btn btn-primary"%>
    <%= link_to 'Cancel', tasks_path, class: "btn btn-default" %>
  </div>
<% end %>
