<div class="container">
  <div class="page header">
    <div class="pull-right">
      <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="font-size:18px">Description</th>
        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td id="task"><%= task.description %></td>
          <td class="pull-right"><%= link_to 'Show', task, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
              <%= link_to 'Destroy', task, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<div class="pull-right"><%= link_to 'Download CSV Task List', tasks_path(format: :csv), class: "btn btn-info" %></div>
</div>
