<div class="container">
  <div class="page header">
    <h2>Users</h2>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th style="font-size:18px">First Name</th>
          <th style="font-size:18px">Last Name</th>
          <th style="font-size:18px">Email</th>
          <th colspan="10"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td id="task"><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td class="pull-right"><%= link_to 'Show', user, class: "btn btn-success" %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Create New User', new_user_path %>
</div>
