<div class="container">
  <div class="page header">
    <div class="pull-right">
      <%= link_to 'New User', new_user_path, class: "btn btn-info" %>
    </div>
    <h2>Users</h2>
    <% if notice %>
      <div class="alert alert-success text-center" role="alert">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="font-size:18px">Name</th>
        <th style="font-size:18px">Email</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
          <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
          <td class="pull-right"><%= link_to 'edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
