<%= render partial: 'shared/errors', locals: {feature: @project} %>
<%= form_for(@project, html: {class: "form-horizantal"}) do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :name, class: "col-sm-offset-1 col-sm-1 control-label" %>
      <div class="col-sm-7">
      <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>

  <br>
  <div class="row">
  <div class="form-group col-sm-12 col-sm-offset-2">
    <%= f.submit class: "btn btn-primary"%>
    <%= link_to 'Cancel', projects_path, class: "btn btn-default" %>
  </div>
</div>
<% end %>
