<div class="container">
  <div class="page header">
    <p>
    <% if notice %>
      <div class="alert alert-success text-center" role="alert">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
  </p>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %>
      <%= link_to 'Delete', @project, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
    <h2><%= @project.name %></h2>
    <p>
      <br>
      <ol class="breadcrumb">
        <li><%= link_to "Projects", projects_path %></li>
        <li class="active"><%= @project.name %></li>
      </ol>
    </p>
    <div class="projectshow">
      <%= link_to "#{@project.tasks.length} Tasks", project_tasks_path(@project) %>
    </div>
    <p></p>
    <div class="projectshow">
      <%= link_to "#{@project.memberships.length} Members", project_memberships_path(@project) %>
    </div>
</div>
